.front-home-container {
	text-align: center;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	font-weight: 600;

	.front-home-content {
		position: absolute;
		left: 23.19%;
		right: 25.21%;
		top: 24.51%;
		bottom: 63.77%;
		font-family: 'Poppins';
		line-height: 150%;
		font-style: normal;
		font-size: 40px;
	}

	span {
		position: absolute;
		left: 22.43%;
		right: 25.97%;
		top: 41.8%;
		bottom: 55.27%;
		font-family: 'Montserrat';
		font-style: normal;
		font-size: 20px;
		line-height: 150%;
	}
}

.front-home-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10%;
	position: absolute;
	left: 33.58%;
	top: 48.24%;

	Button {
		width: 206px;
		height: 48px;
		font-weight: 450;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.03em;
	}

	span {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		text-align: center;
		letter-spacing: 0.01em;
		color: #FFFFFF;
	}
}