.manage-user-container {
	padding: 7em 2em 0 14em;
	width: 100%;

	.manage-user-header {
		display: flex;
		align-content: space-around;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;

		h3 {
			font-family: 'Inria Sans';
			font-style: normal;
			font-weight: 700;
			font-size: 28px;
			line-height: 34px;
			letter-spacing: 0.03em;
			color: #606165;
		}
	}
}