.post-container {
	position: relative;
	border-radius: 14px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.15);
	width: 100%;
}

.view-comments {
	color: #1B2BB6;
	margin: 20px;
}