.a-comment-container {
	.comment-line {
		margin: 14px 20px 30px 20px;
		border: 1px solid rgba(0, 0, 0, 0.15);
	}
	.comment-body {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #606165;
		margin-left: 27px;
	}
	.comment-info {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 6px;
		position: relative;
		height: 26px;
		left: 369px;
		top: -21px;
	}
	.comment-time {
		position: relative;
		left: 795px;
		top: -6px;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 17px;
		line-height: 17px;
		color: rgb(27 27 28 / 60%);
	}
}