.signup-container {
	position: relative;
	width: 80%;
	/* height: 70%; */
	padding-top: 2%;
	padding-bottom: 15px;
	left: 11%;
	top: 2%;
	background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
	backdrop-filter: blur(21px);
	border-radius: 16px;
}

.signup-content {
	position: relative;
	left: 10%;
	top: 6%;
	width: 69%;
}

.signup-heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 300px;
    height: 60px;

	h2 {
		width: 243px;
		height: 31px;
		font-family: "Poppins";
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #FFFFFF;
	}

	span {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #F9FAFB;
	}
}

.signup-fields-container {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 13%;
	row-gap: 8%;
	padding-top: 22px;
}

.signup-checkbox {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-top: 6%;
	gap: 20px;
	color: white;
}

.already-login {
	position: relative;
	margin-top: 2%;	
	color: #FFFFFF;
	display: flex;
	a {
		margin-left: 3px;
		color: #007AFF;
	}
}
.signup-login-button {
	margin-top: 2%;
	width: 206px;
    height: 48px;
}