.signup-container {
	position: relative;
	width: 80%;
	/* height: 70%; */
	padding-top: 3%;
	padding-bottom: 3%;
	left: 11%;
	top: 4%;
	background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
	-webkit-backdrop-filter: blur(21px);
	backdrop-filter: blur(21px);
	border-radius: 16px;
}

.signup-content {
	position: relative;
	left: 11%;
	top: 6%;
	width: 69%;
}

.signup-heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 322px;
	height: 79px;

	h2 {
		width: 246px;
		height: 39px;
		font-family: "Poppins";
		font-style: normal;
		font-weight: 600;
		font-size: 28px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #FFFFFF;
	}

	span {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #F9FAFB;
	}
}

.signup-fields-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 11%;
	padding-top: 30px;
}

.signup-checkbox {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 10%;
	color: white;
}

Button {
	margin-top: 4%;
	width: 206px;
height: 48px;
}

.already-login {
	position: relative;
	margin-top: 4%;
	color: #FFFFFF;
	display: flex;

	a {
		margin-left: 3px;
		color: #007AFF;
	}
}