.action-dropdown-container {
	position: absolute;
	height: 41px;
	width: 136px;
	border-radius: 14px;
	margin-left: 844px;
	margin-top: -38px;
	border: 2px solid rgba(0, 0, 0, 0.15);

	span {
		position: absolute;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 16px;
		color: rgb(22 14 14 / 60%);
		padding: 11px 35px;
	}
}