.action-dropdown-container {
	position: absolute;
	border-radius: 14px;
	margin-left: 640px;
	margin-top: -39px;
	background-color: azure;
	border: 2px solid rgba(0, 0, 0, 0.15);

	.delete-action {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding-top: 8px;
		padding-left: 8px;
		gap: 14px;
		height: 44px;
		width: 136px;
		padding-top: 10px;
		padding-right: 10px;
		cursor: pointer;
	}

	.edit-action {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding-top: 8px;
		padding-left: 13px;
		gap: 14px;
		height: 44px;
		width: 136px;
		padding-top: 10px;
		padding-right: 10px;
		cursor: pointer;
	}

	span {
		margin-top: 3px;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 21px;
		color: rgb(22 14 14 / 60%);
	}
}